.separator{

	min-height: 80px;

}

 .carousel-inner img{

 	width: 100%;
    height: 100%;
 }

.lavendar{
	background-color: lightblue;
}

.orange{
	background-color: orange;
}


.badge-custom{

	padding-top: 24px;
    padding-bottom: 25px;
    padding-right: 46px;
    padding-left: 41px;

    font-size: 292%;

}